$text-lv1-color: var(--text-lv1-color);
$text-lv2-color: var(--text-lv2-color);
$text-lv3-color: var(--text-lv3-color);

$background-lv1-color: var(--background-lv1-color);
$background-lv2-color: var(--background-lv2-color);
$background-lv3-color: var(--background-lv3-color);

$success-color: var(--success-color);
$waring-color: var(--waring-color);
$error-color: var(--error-color);

$line-color: var(--line-color);
$border-color: var(--border-color);
$disabled-color: var(--disabled-color);

$primary-color: var(--primary-color);

$screen-mobile: 1024px;

/**
* animation
*/
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @-o-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

 .mint-forest-root {
    --primary-color: #00b33b;
    --disabled-color: #999;

    --success-color: #00b33b;
    --waring-color: #ff9500;
    --error-color: #ff5f52;

    --border-color: #e0e0e0;
    --line-color: #f2f4f7;

    --text-lv1-color: #a45118;
    --text-lv2-color: #b57b46;

    --background-lv1-color: #3185de;
    --background-lv2-color: #ffefbe;

    --scrollbar-background-color: #f1f1f1;
    --scrollbar-thumb-color: rgb(222, 219, 219);
    --scrollbar-width: 6px;
  }

  html,
  body {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  body:has(.mint-forest-root) {
    overflow: hidden;
    background: var(--background-lv1-color);
  }

  .mint-forest-root img {
    max-width: unset;
  }

  .mint-forest-root,
  .mint-forest-root * {
    font-family: var(--font-montserrat), Inter, Helvetica, Arial, 'Microsoft YaHei', sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;

    &::-webkit-scrollbar {
      cursor: pointer;
      width: var(--scrollbar-width);
      height: var(--scrollbar-width);
    }
    &::-webkit-scrollbar-track {
      border-radius: 4px;
      background: var(--scrollbar-background-color);
    }
    &::-webkit-scrollbar-thumb {
      width: var(--scrollbar-width);
      height: var(--scrollbar-width);
      border-radius: 4px;
      background: var(--scrollbar-thumb-color);
    }

    outline: none;
  }

  .mint-forest-root a:hover {
    color: var(--primary-color);
  }

  .mint-forest-root input {
    outline: none;
  }

.mint-forest-root {
    .no-scrollbar {
    &::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;
    }
  }

    .scroll-bar {
    &::-webkit-scrollbar {
      cursor: pointer;
      width: var(--scrollbar-width);
      height: var(--scrollbar-width);
    }
    &::-webkit-scrollbar-track {
      border-radius: 4px;
      background: var(--scrollbar-background-color);
    }
    &::-webkit-scrollbar-thumb {
      width: var(--scrollbar-width);
      height: var(--scrollbar-width);
      border-radius: 4px;
      background: var(--scrollbar-thumb-color);
    }
  }

    .absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

    .pc-only {
    @media screen and (max-width: $screen-mobile) {
      display: none !important;
    }
  }

    .mb-only {
    @media screen and (min-width: $screen-mobile) {
      display: none !important;
    }
  }

    .loader {
    position: relative;
    margin: 0 auto;
    width: 28px;
    min-height: 28px;
    overflow: hidden;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    svg {
      animation: rotate 2s linear infinite;
      height: 90%;
      transform-origin: center center;
      width: 90%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    circle {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      animation: stroke-dash 1.5s ease-in-out infinite;
      stroke: var(--text-lv1-color);
      stroke-linecap: round;
    }

    @keyframes rotate {
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes stroke-dash {
      0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
      }

      50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
      }

      100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
      }
    }
    }
}
